.comics__container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
}

.comics__item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /*border: 2px solid var(--color-yellow-green);*/
  width: 250px;
  background-color: var(--color-light);
  margin: var(--spacing-large);
  transition: 0.5s;
  cursor: pointer;
}
.comics__item:hover {
  transform: rotate(-4deg) scale(0.95);
  filter: saturate(150%);
}

.comics__name {
  display: flex;
  margin: auto;
  padding: var(--spacing-small) var(--spacing-medium);
}

.comics__img {
  width: 100%;
}
